openapi: 3.0.3
info:
  title: PastePortal - OpenAPI 3.0
  description: |-
    PastePortal is a revolutionary new application that makes sharing text a breeze. Designed with developers in mind, PastePortal eliminates the need for the traditional copy-paste method, making it easy to share context without any additional complexity. The application comes with a VSCode extension, as well as a frontend, making it accessible to a wide range of users. Whether you're working on a large project with multiple team members or simply need to share a small snippet of code, PastePortal is the perfect solution. With its user-friendly interface and powerful functionality, it's no wonder why PastePortal is quickly becoming the go-to choice for developers everywhere. Try it out today and see the difference for yourself!

    Some useful links:
    - [The PastePortal repository](https://github.com/stiliajohny/python-pasteportal)
  contact:
    name: John Doe
    email: johndoe@example.com
    url: http://www.indraft.blog
  license:
    name: GNU-3
    url: https://github.com/stiliajohny/python-pasteportal/blob/master/LICENSE.txt
  version: 0.0.1aplha

servers:
  - url: https://api.pasteportal.info/
    description: PastePortal API

tags:
  - name: Pastesportal API
    description: PastePortal API endpoints for storing and retrieving text snippets.

paths:
  /store-paste:
    post:
      tags:
        - Pastesportal API
      summary: Store a text snippet in the PastePortal.
      description: Deposit a text snippet into the vast expanse of the PastePortal.
      operationId: storePaste
      requestBody:
        description: Update an existent pet in the store
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostPaste"
        required: true
      responses:
        "201":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostPasteResponse200"
        "400":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostPasteResponse400"
        502:
          description: API Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
  /get-paste:
    get:
      tags:
        - Pastesportal API
      summary: Get a text snipper from the PastePortal by ID
      parameters:
        - $ref: "#/components/parameters/getPasteId"
      responses:
        "201":
          description: Successful retrieval of resource
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPasteResponse200"
        502:
          description: API Internal Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerError"
        # missing multiple 400 responses
        400:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPasteResponse400"

components:
  schemas:
    InternalServerError:
      type: object
      properties:
        message:
          type: string
          example: Internal Server Error
    PostPaste:
      type: object
      properties:
        paste:
          type: string
          format: string
          example: "This is a test paste."
        creator_gh_username:
          type: string
          format: string
          example: "stiliajohny"
        addressed_gh_username:
          type: string
          format: string
          example: "cur5or"
    PostPasteResponse200:
      type: object
      properties:
        message:
          type: string
          example: The paste was successfully inserted into the database
        id:
          type: string
          example: 7da223
        timestamp:
          type: string
          format: date-time
          example: "2023-01-22T11:28:45.641940"
        raw_data:
          type: string
          example: '{"paste":"Another day in paradise","creator_gh_user": "stiliajohny","recipient_gh_username": "cur5or"}'
        paste:
          type: string
          example: Another day in paradise
        joke:
          type: string
          example: Why do programmers prefer dark mode? Less bright light when staring at their screen for hours.
    PostPasteResponse400:
      type: object
      properties:
        response:
          type: string
          example: "Missing required fields: paste, creator_gh_user, recipient_gh_username"

    GetPasteResponse400:
      type: object
      properties:
        error:
          type: string
          description: Response Message was invalid (not dict)
          example: "Invalid message"

    GetPasteResponse200:
      type: object
      properties:
        message:
          type: string
          description: Message returned by the API
          example: "The paste was successfully retrieved from the database."
        id:
          type: string
          description: ID of the paste
          example: "ad95f1"
        paste:
          type: string
          description: Data in the paste
          example: "This is a test paste."
        joke:
          type: string
          description: A joke because why not.
          example: "Debugging is like trying to find a needle in a haystack, except the needle is also made of hay."
        creator_gh_username:
          type: string
          description: GitHub username of the user the paste was directed to
          example: "stiliajohny"
        addressed_gh_username:
          type: string
          description: GitHub username of the user the paste was directed to
          example: "cur5or"

  parameters:
    getPasteId:
      in: query
      name: id
      schema:
        type: string
      required: true
      description: ID of the resource to retrieve

  securitySchemes:
    APIGatewayKey:
      type: apiKey
      name: x-api-key
      in: header
