/*

Main colours

#D9307F - negative Highlights
#343540 - Background
#08A679 - possitive highlights
#202123 - side panel background
#444654 - other highlights
#BDBEBF - text
*/


:root {
  --negative-highlight: #D9307F;
  --background: #343540;
  --positive-highlight: #08A679;
  --side-panel-background: #202123;
  --other-highlight: #444654;
  --text: #BDBEBF;
}




.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}


* {
  color: var(--text);
  text-decoration: none;
}


/* Style the side panel */
.side-panel-close {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--background);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: left;
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: top;
  font-size: 1em;
  /* add space between lines  */
  line-height: 1.5em;
}

.side-panel-open {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #202123;
  overflow-x: hidden;
  transition: 1s;
  padding-top: 60px;
  text-align: left;
  color: #BDBEBF;
  display: flex;
  flex-direction: column;
  justify-content: top;
}

.side-panel-logo {
  position: absolute;
  top: 20px;
  left: 0;
  width: 36px;
  height: 36px;
  padding-bottom: 5em;
  padding-top: 0;
  padding-left: 2em;
  /* add space bellow the logo  */
  margin-bottom: 5em;
}

.side-panel-logo:hover {
  /* rotate fro mthe center of the image  */
  transform-origin: 50% 50%;
  transform: rotate(360deg);
  transition: 0.5s;

}

/* Style the menu icon */
.menu-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 36px;
  cursor: pointer;
  z-index: 2;
}

.menu-icon:hover {
  color: #08A679;
  transform: rotate3d(1, 0, 0, 360deg);
  transition: 1s;
}

.strikethrough {
  text-decoration: line-through;
}

.pastearea {
  width: 97vw;
  height: 90vh;
  padding: 20px;
  font-size: 14px;
  resize: none;
}

hr {
  /* FIXME Remove this and add it into a class */
  border: 1;
  width: 90%;
}


/* Style for the notification window */
.notification-window-success {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 300px;
  height: 60px;
  background-color: #444654;
  border: 1px solid #08A679;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px 0px #0A0B0D;
  z-index: 1000;
}

.notification-window-error {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 300px;
  height: 60px;
  background-color: #444654;
  border: 1px solid #D9307F;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px 0px #0A0B0D;
  z-index: 1000;
}



/* create a theme */
.theme1 {
  background-color: #343540;
  color: #BDBEBF;
  border: 0px solid #0A0B0D;
}


/*

Main colours

#D9307F - negative Highlights
#343540 - Background
#08A679 - possitive highlights
#202123 - side panel background
#444654 - other highlights
#BDBEBF - text
*/

:root {
  --negative-highlight: #D9307F;
  --background: #343540;
  --positive-highlight: #08A679;
  --side-panel-background: #202123;
  --other-highlight: #444654;
  --text: #BDBEBF;
}

* {
  color: var(--text);
  background-color: var(--background);
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.side-panel {
  width: 58px;
  background-color: var(--side-panel-background);
  transition: all 0.3s ease-out;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.toggle-button {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 24px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.side-panel a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #444654;
  color: #BDBEBF;
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s ease-out;
}

.side-panel a span {
  display: none;
}

.side-panel i {
  display: inline-block;
  font-size: 18px;
  padding-right: 8px;
  transition: all 0.3s ease-out;
}

.open .side-panel {
  width: 250px;
  background-color: var(--side-panel-background);
}

.open .side-panel a {
  width: auto;
  height: auto;
  padding: 10px;
  background-color: #202123;
}

.open .main-content {
  margin-left: 250px;
}

.open .side-panel .icon {
  display: none;
}

.side-panel .icon {
  display: inline-block;
  font-size: 20px;
}

.open .side-panel a span {
  display: inline-block;
  margin-left: 10px;
}

.side-panel .side-panel-text {
  display: none;
  font-size: 16px;
  padding-left: 8px;
}

.open .side-panel .side-panel-text {
  display: inline-block;
}

.side-panel .links {
  display: none;
}

.open .side-panel .links {
  display: block;
}